@font-face {
	font-family: 'Storytella';
	src:  url("../fonts/Storytella.otf") format("otf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Nexa Script";
	src: url("../fonts/nexa-script.eot"); /* IE9 Compat Modes */
	src: url("../fonts/nexa-script.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/nexa-script.otf") format("opentype"), /* Open Type Font */
		url("../fonts/nexa-script.svg") format("svg"), /* Legacy iOS */
		url("../fonts/nexa-script.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/nexa-script.woff") format("woff"), /* Modern Browsers */
		url("../fonts/nexa-script.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}